BODY {
	BACKGROUND-COLOR: #F9F5E9;
	COLOR           : #121212;
	FONT-FAMILY     : TimesTenLTStd-Roman,·½ÕýÓÆËÎ;
	FONT-SIZE       : 13pt;
	font-weight		: 700;
	LINE-HEIGHT     : 1.85em;
	TEXT-INDENT     : 2em;
	PADDING         : 1em 5% 0 5%;
}
h1 {
	FONT-SIZE:20pt;
	TEXT-INDENT:0;
	border-bottom:1px solid #dbdbdb;
}
h2 {
	FONT-SIZE:18pt;
	TEXT-INDENT:0;
	border-bottom:1px solid #dbdbdb;
}
h3 {
	FONT-SIZE:17pt;
	TEXT-INDENT:0;
	border-bottom:1px solid #dbdbdb;
}
h4 {
	FONT-SIZE:16pt;
	TEXT-INDENT:0;
	border-bottom:1px solid #dbdbdb;
}
h5 {
	FONT-SIZE:15pt;
	TEXT-INDENT:0;
	border-bottom:1px solid #dbdbdb;
}
h6 {
	FONT-SIZE:14pt;
	TEXT-INDENT:0;
	border-bottom:1px solid #dbdbdb;
}
code {
	TEXT-INDENT:0;
	FONT-FAMILY:consolas;
}
.Cloze {
	BACKGROUND-COLOR:#F7ED4E;
	COLOR:#FF0000;
	FONT-WEIGHT:bold;
	LETTER-SPACING:5px;
	margin:4px;
}
.clozed {
	BACKGROUND-COLOR:#FFD499;
	FONT-WEIGHT:bold;
}
.Extract {
	BACKGROUND-COLOR:#A7D6F1;
}
.Headers {
	BACKGROUND-COLOR:#968CC6;
	COLOR:#191919;
	FONT-STYLE:normal;
	FONT-WEIGHT:bold;
	FONT-SIZE:18pt;
}
.RefText {
	BACKGROUND-COLOR:#F7E394;
	COLOR:#191919;
	FONT-STYLE:normal;
	FONT-WEIGHT:bold;
	FONT-SIZE:18pt;
}
.Reference {
	BACKGROUND-COLOR:#C29CC0;
	COLOR:#FFF2E2;
	LINE-HEIGHT:1.3em;
	FONT-SIZE:10pt;
}
.Highlight {
	BACKGROUND-COLOR:#FFFF86;
	COLOR:#191919;
	FONT-STYLE:normal;
	FONT-WEIGHT:bold;
}
.SearchHighlight {
	BACKGROUND-COLOR:#EE8888;
	COLOR:#191919;
	FONT-STYLE:normal;
	FONT-WEIGHT:bold;
}
.Ignore {
	BACKGROUND-COLOR:#DAB6B6;
	COLOR:#191919;
	FONT-STYLE:italic;
	FONT-WEIGHT:normal;
}
.tablelabel {
	BACKGROUND-COLOR:#CCCCCC;
	COLOR:#0000FF;
	FONT-STYLE:italic;
	FONT-WEIGHT:normal;
}
.hint {
	PADDING:.25em;
	BACKGROUND-COLOR:#eeeadd;
}
.note {
	FONT-SIZE:smaller;
}
.side-note {
	PADDING:0 5% 0 5%;
	TEXT-INDENT:2em;
}
a.external {
	PADDING-RIGHT:13px;
	BACKGROUND:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=") center right no-repeat;
}
img.origin_image {
	width:100%;
	height:auto;
}
.Fuck_Lexicon {
	position:absolute;
	top:-9999px;
	left:-9999px;
}
.jigsawlatex {
}
.term {
	background-color:#faeecf;
	padding-right:0.3em;
}
.hashtag {
	border-radius:15px;
	background-color:#C0D9D9;
	padding-right:0.3em;
	FONT-SIZE:12pt;
	FONT-STYLE:italic;
}
.english_tag {
	border-radius:15px;
	background-color:#C0D9D9;
	padding-right:0.3em;
	FONT-SIZE:12pt;
	FONT-STYLE:italic;
}
